$red: red;
$teal: teal;
$fSize: 24px;
$fWeight: 700;

@mixin font($color, $size, $weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
}

* {
    font-size: 24px;
}

.header {
    font-size: 30px;
    text-align: center;
    color: $teal;
    padding: 20px 0;
}

.block {
    &__text {
        @include font($red, $fSize, $fWeight)
    }
}